.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 20px;
  text-align: center;
}

.section h2 {
  font-size: 48px;
  margin-bottom: 15px;
}

.section p {
  font-size: 22px;
  max-width: 600px;
  line-height: 1.5;
}